html {
  height: 100%;
  width: 100%;
  background-image: url("https://media.istockphoto.com/id/672291718/photo/dark-gears-background.webp?b=1&s=170667a&w=0&k=20&c=fyUjJ1AR7h3ISk-wAjCZrk3r3qdrS9sdZAmthFE0mJU=");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time {
  color: orange;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
}
